@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Oooh+Baby&display=swap');


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

/* --------------- NavBar ---------------------------*/

nav.navbar {
	padding: 16px;
	margin-bottom: 20px;
	box-shadow: none;
	font-size: 25px;
}

#link-home {
	font-size: 28px;
	color: #E4632C;
}

nav a:hover {
	text-shadow: rgb(209, 217, 212) 0.5px 0.5px;

}
@media(max-width:1000px){
	.navbar-toggler {
		background-color: #E4632C;
	}
}

/* --------------- Cuerpo ---------------------------*/

.body {
	font-family: 'Poppins', Regular;
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	text-align: center;
	background: linear-gradient(to top, #09031A, rgb(107, 14, 58))
}

.container {
	margin: auto;
}

/* --- Texto Home ---*/

#textoNombre {
	position: absolute;
	margin-top: 20%;
	margin-left: 10%;
}

h1.nombre {
	font-size: 160px;
	color: #D9C8C8;
	font-family: Poppins, Semibold;
	font-style: normal;
	font-weight: 600;
	line-height: 70px;
	/* 43.75% */
	margin-bottom: 20px
}

h1.apellido {
	font-size: 88px;
	color: #E4632C;
	font-family: Poppins, Medium;
	font-style: normal;
	font-weight: 500;
	line-height: 100px;
	/* 66.667% */
}

.subtitulo {
	font-size: 28px;
	color: #D9C8C8;
	text-align: right;
	font-family: Poppins, Ligth;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: auto;
	margin-right: 16px;
}

.barra {
	width: 8px;
	height: 140px;
	background-color: #D9D9D9;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: auto;
}

@media(max-width:800px) {
	#textoNombre {
		margin-top: 16px;
		position: relative;
	}

	h1.nombre {
		font-size: 80px;
		margin-bottom: 0px;
	}

	h1.apellido {
		font-size: 50px;
	}

	#textoSub {
		font-size: 25px;
	}

	.barra {
		height: 110;
	}
}

/* --- Grupo de imágenes ---*/

.grupo_img {
	margin: auto;
}

/* --- Imagen ---*/
.img {
	width: 400px;
	border-radius: 8px;
	height: auto;
	background-color: #F2B077;
}

/* --- Barra lateral de imágenes ---*/
.imgLateral {
	background-color: rgb(239, 36, 34);
	border-radius: 8px;
	width: 120px;
	height: 90px;
	margin-top: 16px;
}

.imgLateral1 {
	background-color: rgb(239, 36, 34);
	border-radius: 8px;
	width: 120px;
	height: 90px;
}

/* --------------- Contacto ---------------------------*/

.texto-lateral {
	display: flex;
	width: 480px;
	height: 549px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}

#trabajemos {
	color: #FFF;
	font-family: Belanosima;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

#contactate {
	color: #FFF;
	font-family: Belanosima;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#poder {
	color: #E4632C;
	font-family: Oooh Baby;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: -15px;
	margin-bottom: 16px;
}

#texto-contacto {
	color: #FFF;
	text-align: center;
	font-family: Poppins, Ligth;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

/* --- form-Contacto --- */

#nombre,
#email {
	width: 476px;
	height: 40px;
	flex-shrink: 0;
}

#mensaje {
	width: 476px;
	height: 199px;
	flex-shrink: 0;

}

.form-label {
	position: relative;
	display: flex;
	padding-top: 5px;
}

button.btn {
	color: #FFF;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	margin-top: 16px;
	padding: 5px 20px;
	width: 100px;
	flex-shrink: 0;
	border-radius: 5px;
	background: #E4632C;
	display: flex;
	text-align: center;
}

button.btn:hover {
	background: rgb(238, 146, 46);
}

.form-label,
.form-control {
	color: #D9C8C8;

}

/* --------------- Sobre mí ---------------------------*/


#llamame {
	color: rgb(237, 237, 237);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Oooh Baby;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	/* 175% */
	margin-left: 230px;
	margin-top: 20px;

}

#nombre-sobre {
	color: #D9C8C8;
	font-family: Belanosima;
	font-size: 160px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	/* 43.75% */
	margin-left: 110px;
	margin-top: -20px;
	margin-bottom: 50px;
}

#textSobre {
	width: 407px;
	height: 301px;
	flex-shrink: 0;
	color: rgb(228, 228, 228);
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	margin-left: 100px;
	margin-top: 70px;
}

.indicador {
	width: 330px;
	height: 9px;
	flex-shrink: 0;
	background: #D9C8C8;
	margin-left: 140px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 20px;
}

.circulos-nav {
	width: 330px;
	height: 50px;
	display: inline;
	margin-left: 120px;
	position: relative;
	margin: auto;
	align-items: flex-end;
}

.circulo {
	stroke: #E4632C;
	stroke-width: 2;
	fill: transparent;
}

.circulo:hover {
	fill: rgb(253, 110, 49);
}

.circulo:active {
	fill: #E4632C;
}




#img-grande {
	width: 445px;
	height: 501px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 1px solid #000;
	background: #D9D9D9;
}

.grupo_img {
	flex-direction: row;
	width: 444px;
	height: 81px;
	flex-shrink: 0;
}

.img-peq {
	margin-top: 16px;
	width: 89px;
	height: 81px;
	border-radius: 5px;
	display: inline;
	margin: 13px;
	background: #D9D9D9;
}

@media(min-width:800px) {
	.circulos-nav {
		margin-right: 150px;
	}
}




/* --------------- Conocimiento ---------------------------*/
h1.titulo-con {
	width: 672px;
	height: 134px;
	flex-shrink: 0;
	color: #D9C8C8;
	font-family: Belanosima;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: left;
}

.cuerpo {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-bottom: 30px;
	position: relative;
}


.alineacion-con {
	position: relative;
	text-align: center;
}

.dimensionCard {
	width: 177px;
	height: 198px;
	flex-shrink: 0;
	margin: 5px;
	margin-bottom: 10px;
}

.cuadrado {
	width: 126px;
	height: 126px;
	position: relative;
	margin-top: -390px;
	justify-content: center;
	text-shadow: -5px -5px 5px #888888;
}

.texto-interior {
	position: relative;
	color: #2D2148;
	font-family: Belanosima;
	font-size: 35px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: -120px;

}

.indicador-con {
	width: 328px;
	height: 9px;
	background: #D9C8C8;
	margin: auto;
	
	border-radius: 5px;
}



.btn-per {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	font-size: 8px;
	text-align: center;
	margin: 5px;
	background-color: #E4632C;
	border-color: rgb(182, 92, 52);

}

.btn-per:hover {
	background-color: rgb(255, 174, 78);
}

.btn-per:active {
	background-color: #E4632C;
}

#mostrarIde {
	position: relative;
	text-align: center;
	justify-content: center;
	margin: auto;

}

.star {
	position: relative;
	margin: auto;
	margin-top: -245px;
	margin-bottom: 5px;
}

.circulos-nav2 {
	width: 330px;
	height: 50px;
	display: inline;
	position: relative;
	margin: auto;
	align-items: flex-end;
	margin-top: 20px;
}
.col-md-4{
	margin-top: 20px;
}

/* ----------------------- Footer de página ------------------------------- */

.footer {
	align-content: end;
	/* Lo coloca inicialmente al final del contenedor */
	width: 100%;
	margin-top: auto;
	/* Empuja el footer hacia abajo, pero no m�s all� del final del contenido */
}

.container-icons {
	margin-right: 16px;
	display: flex;
	align-content: end;
	justify-content: end;
}

.social-icons {
	display: inline-block;
	align-items: center;
	justify-content: end;
	padding: 30px;
}